$color: #ffab00;
$fill: none;

.line {
  fill: $fill;
  stroke: $color;
  stroke-width: 3;
}

.overlay {
  fill: $fill;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: $color;
  stroke: #fff;
}