[Unit]
Description=Price logger for Amazon, written in python

[Service]
PIDFile=/tmp/logger-99.pid
User=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/price-logger/logger
ExecStart=/home/pi/price-logger/logger/price-logger.py

[Install]
WantedBy=multi-user.target