[Unit]
Description=Node.js Server for visualizing the logs

[Service]
PIDFile=/tmp/visualization-99.pid
User=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/price-logger/visualization
ExecStart=/home/pi/price-logger/visualization/server.js

[Install]
WantedBy=multi-user.target