@import 'helper';

#menu-toggle {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  @include border-radius(20px);
  background-color: black;
  color: white;
  text-align: center;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper, #page-content-wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  @include transition(margin-left .25s ease-out);
  @include transition(margin-right .25s ease-out);
}

#sidebar-wrapper {
  margin-left: 0;
  width: 20rem;
}

#page-content-wrapper {
  width: 100vw;
  min-width: 100vw;
  margin-right: 0;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -20rem;
}

.current {
  background: #ddf;
}

.items {
  color: #333;
}

.items:hover {
  color: inherit;
  background-color: #aaf;
}

#status {
  line-height: 30px;
}

#statusVisu, #statusLogger {
  color: #c00;
}

.active {
  color: #090;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled {
    #sidebar-wrapper {
      margin-left: -20rem;
    }
    #page-content-wrapper {
      margin-right: 0;
    }
  }
}