extends layout.pug

block content
  div.container
    h1
      a(href=link, target="_blank")= id
    div.row
      if img
        div.col-md-2
          img(src=img)
      div#price-chart.col-md-10(data-id=id)
